// color vars
$color_dark_red:    #ba3434;
$color_white:       #fff;
$color_black:       #000;
$color_blood_red:   #9e3814;
$color_bright_blue: #4284fd;
$color_orange:      #f4b44f;
$color_middle_grey: #ddd;
$color_silver_grey: #9fa5b1;
$color_dark_grey:   #343537;