/*
 * Comments
 * --------
 * Comments on articles on my site are like fairy dust, so I've removed it while
 * I work on a restyle.
 */

// Colours
$comment_alt_background: map-get($colours, text_grey_dark);

#comments {
    margin-top: $bottom_default * 2;

    ul {
        @extend %zero;
    }

    li:nth-child(even) {
        background-color: $comment_alt_background;
    }

    .comment {
        @extend %border-box;
        list-style-type: none;
        margin-bottom: $bottom_default;
        min-height: 100px;
        padding: $bottom_default;

        .author { 
            margin-bottom: 0;
        }
    }

    h5.reply-title {
        margin-bottom: $bottom_default;
    }
}

#commentform {
    @extend %clearfix;
    width: 100%;

    input, textarea {
        @extend %border-box;
    }

    input {
        float: left;
        margin-bottom: $bottom_default * 0.4;
        width: 32.66%; 

        &:not(#comment-url) {
            margin-right: 1%;
        }

        @include breakpoint(max, 1024) {
            float: none;
            display: block;
            margin-right: 0;
            width: 50%;
        }

        @include breakpoint(smartphone) {
            width: 100%;
        }
    }

    textarea {
        height: 50px;

        @include breakpoint(smartphone) {
            width: 99%;
        }
    }

    p.form-submit {
        margin-bottom: 0;
    }

    input[type=submit] {
        height: 35px;
        max-width: 149px;
        padding: 8px;
    }
}

#commentform > *:not(#textarea) {
    display: none;
}