#header {
    height: 20vh;
    position: relative;
    transition: height .7s;
    width: 100%;

    @include cover_image('../images/polaris.jpg');

    &:not(.full-height) {
        @include breakpoint(smartphone) {
            height: auto;
            padding: 60px 0;
        }
    }

    a {
        color: #fff;

        &:hover {
            text-decoration: none;
        }
    }

    h1, h4, ul {
        color: #fff;
        margin: 0; 
        text-align: center;
    }

    h1 {
        @include breakpoint(smartphone) {
            font-size: 2em;
        }
    }

    h4 {
        color: rgba(255,255,255,0.7);
        font-weight: 100;

        @include breakpoint(smartphone) {
            font-size: 0.8em;
        }
    }

    .description {
        @include breakpoint(max, 768) {
            border: 0;
            margin: 0;
            padding: 0;
        }
    }

    .menu-warn {
        @extend %border-box;
        background-color: red;
        border: 1px solid #fff;
        margin: 5px 0;
        padding: 5px 0;
    }

    .interior {
        @extend %border-box;
        left: 0;
        position: absolute;
        overflow: hidden;
        padding: 0 10%;
        right: 0;
        top: 50%;

        @include translate(0, -50%);

        &:not(> .full-height) {
            @include breakpoint(smartphone) {
                position: initial;

                @include translate(0, 0);
            }
        }
    }

    .prompt {
        bottom: 7%;
        display: none; 
        left: 0;
        position: absolute;
        right: 0;

        span {
            display: block;
            font-size: 600%;
            font-stretch: ultra-expanded;
            text-align: center;
        }
    }
}

#header.full-height {
    height: 100vh;

    .prompt {
        display: initial;
    }
}