#main { 
    @extend %clearfix;
    width: 100%;

    .interior {
        @extend %clearfix;
    }

    #content {
        @extend %border-box;
        width: 100%;

        .interior {
            margin: 0 auto;
            max-width: 900px;
            padding: 50px 0;
            position: relative;
            width: 75%;

            @include breakpoint(max, 1024) {
                padding: 25px 0;
                width: 90%;
            }
        }
    }
}

/*
 * Miscellaneous Containers
 * ------------------------
 */

.mask {
    @extend %rmwb-gradient;
    height: 100%;
}