#main { 
    @extend %clearfix;
    width: 100%;

    #content {
        @extend %border-box;
        float: right;
        width: 100% - $left_container_width;

        .interior {
            margin: 0 auto;
            padding: 50px 0;
            position: relative;
            width: $right_interior_width;

            @include breakpoint(max, 1024) {
                max-width: 95%;
                min-width: 0;
                width: 95%;
            }
        }
    }
}

.interior {
    @extend %clearfix;
}

.dev-warning {
    background-color: Crimson;
    margin-bottom: $bottom_default;
    padding: 10px;

    p {
        color: #fff;
        margin: 0;
    }
}