#main { 
    @extend %clearfix;
    width: 100%;

    .interior {
        @extend %clearfix;
    }

    #content {
        @extend %border-box;
        float: right;
        width: 100% - $left_container_width;

        @include breakpoint(max, 768) {
            float: none;
            margin: 0 auto;
            width: 90%;
        }

        @include breakpoint(smartphone) {
            width: 100%;
        }

        .interior {
            margin: 0 auto;
            padding: 50px 0;
            position: relative;
            width: $right_interior_width;

            @include breakpoint(max, 1024) {
                padding: 25px 0;
                width: 90%;
            }
        }
    }
}

/*
 * Miscellaneous Containers
 * ------------------------
 */

.dev-warning {
    background-color: Crimson;
    margin-bottom: $bottom_default;
    padding: 10px;

    p {
        color: #fff;
        margin: 0;
    }
}

.mask {
    @extend %rmwb-gradient;
    height: 100%;
}