/*
 * Nav Elements
 * ------------
 */

// Colours
$nav_span_grey: map-get($colours, text_grey_light);

nav {
    ul {
        list-style-type: none;
        margin: 0;
    }

    li {
        display: inline-block;
    }

    li, span, a {
        color: $nav_hyperlink_rest;
        font: $font_open_sans;
        font-size: 0.85em;
    }

    a {
        display: block;

        &:hover {
            text-decoration: none;
        }
    }
}

/*
 * Site Top Navigation
 * -------------------
 */

nav#top {
    @extend %clearfix;
    background: transparent;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;

    @include breakpoint(smartphone) {
        border-bottom: 1px solid map-get($colours, border_grey_rest);
        position: initial;
    }

    li {
        margin: 3px;
        padding: 25px;

        @include breakpoint(smartphone) {
            // padding: 10px;
        }
    }

    .search {
        float: right;
    }
}


/*
 * Pagination
 * ----------
 * There is pagination for both individual posts and for the site itself.
 */

nav#pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    a {
        display: inline-block;
    }

    div { 
        flex: 0 1 33.3%;

        @include breakpoint(smartphone) {
            flex: 0 1 50%;
        }
    }

    span {
        color: $nav_span_grey;
        white-space: nowrap;
    }

    div[class^=next] {
        text-align: right;  
    }

    div.count {
        text-align: center;

        @include breakpoint(smartphone) {
            display: none;
        }

        &:empty {
            display: none;
        }

    }

    div.previous-post, div.next-post {
        flex: 0 1 50%;

        @include breakpoint(smartphone) {
            flex: 0 1 100%;
            white-space: normal;
        }
    }
}