#pagination {
    margin: 0 auto;
    margin-top: 35px;
    overflow: auto;
    width: 100%;

    a {
        @extend %border-box;
        color: #fff;
        background: $color_bright_blue;
        display: block;
        padding: 8px 8px;
        overflow: hidden;
        text-align: center;
        width: 150px;

        &:hover {
            background-color: $color_dark_red;
            text-decoration: none;
        }
    }

    .page-left {
        float: left;
        overflow: auto;
        width: 49.5%;

        a {
            float: right;
        }
    }

    .page-right {
        float: right;
        overflow: auto;
        width: 49.5%;

        a {
            float: left;
        }
    }
}
