nav#pagination {
    overflow: auto;
    min-height: 39px;
    position: relative;
    text-align: center;

    span {
        color: $text_grey_light;
        display: inline-block;
        padding: 8px;
        text-align: center;

        &:empty {
            display: none;
        }
    }

    span.previous, span.next {
        @extend %rmwb-button;
        // @extend .thin-border;
        position: absolute;
    }

    span.next {
        right: 0;
    }

    span.previous {
        left: 0;
    }

    span.count {
        @include breakpoint(smartphone) {
            display: none;
        }
    }

    a {
        color: inherit;
        text-align: center;

        &:hover {
            text-decoration: none;
        }
    }
}