#pagination {
    @extend %clearfix;
    margin-top: $bottom_default * 3;

    div:first-child {
        margin-right: $bottom_default * 0.5;
    }

    .page-left, .page-right {
        float: left;
    }

    a {
        @extend %rmwb-button;
        min-width: 120px;
        padding: 8px;
    }
}