$form_input_placeholder: map-get($colours, code_block_grey);

form.search {
    font-size: 1.3em;
    margin: 0;
    outline: 0;

    @include placeholder_style($form_input_placeholder, $font_open_sans);

    p {
        margin: 0;
        position: relative;
    }

    input[type=text] {
        color: $form_input_placeholder;
        display: inline-block;
        height: 100%;
        padding: 5px;
        width: 100%;
    }

    button[type=submit] {
        @extend %rmwb-button !optional;
        border: 0;
        height: 25px;
        padding: 0 !important;
        padding-left: 80%;
        position: absolute;
        right: 3px;
        top: 50%;
        transform: translateY(-50%);
        width: 25px;

        &:after {
            content: '→';
        }
    }
}

.nav-search {
    display: none;
    margin: 0 auto;
    margin-top: $bottom_default;
    width: 75%;

    input {
        border: 0;

        &:focus {
            border: 0;
        }
    }
}

.results-count {
    margin-top: $bottom_default;
}