/*
 * Nav Menu Social Links
 * ----------------------
 */
$social: (
    comments: (#30b351, '../images/social/comments.png'),
    email: (#f5756c, '../images/social/email.png'),
    facebook: (#3B5998, '../images/social/facebook.png'),
    flickr: (#ff0084, '../images/social/flickr.png'),
    github: (#666666, '../images/social/github.png'),
    google: (#dd4b39, '../images/social/google.png'),
    instagram: (#3f729b, '../images/social/instagram.png'),
    linkedin: (#0976b4, '../images/social/linkedin.png'),
    pinterest: (#cc2127, '../images/social/pinterest.png'),
    print: (#007aaf, '../images/social/print.png'),
    reddit: (#ff5700, '../images/social/reddit.png'),
    rmwb: (#343537, '../images/social/beard.png'),
    rss: (#ff6600, '../images/social/rss.png'),
    tumblr: (#35465c, '../images/social/tumblr.png'),
    twitter: (#55acee, '../images/social/twitter.png'),
    youtube: (#b31217, '../images/social/youtube.png')
);

nav.social {
    ul {
        list-style-type: none;
        text-align: center;
    }

    li {
        background-size: auto 90%;
        background-repeat: no-repeat;
        background-position: center center;

        &:not(:first-child) {
            margin-left: 5px;
        }

        @include flex_size(13%, 1);
    }

    a {
        border: 0;

        @include flex_size(100%, 1);
    }

    @each $value, $key in $social {
        li.#{$value} {
            background-image: url(nth($key, 2));
        }
    }
}