article { 
    header {
        margin-bottom: $bottom_default * 0.5;

        > * {
            margin-bottom: 0;
        }

        time, small {
            color: rgba(black, 0.5);
        }
    }

    h3.title {
        a:hover {
            // text-decoration: none;
        }
    }

    div, img, iframe {
        @extend %border-box;
        height: auto;
        max-width: 100%;
    }

    img {
        border: 1px solid $pre_grey;
    }

    input {
        // For password on password-protected posts.
        display: block;
    }

    blockquote, dl, ol, ul {
        padding: 0 0 0 15px;
    }

    ol, ul {
        @extend %border-box;
        margin-left: $bottom_default;
        margin-bottom: $bottom_default;
    }
}

article.archive {
    background-size: cover;
    overflow: hidden;
    width: 100%;

    &:not(:last-of-type) {
        margin-bottom: $bottom_default;
    }

    header p {
        margin-bottom: $bottom_default * 0.5;
        padding: 5px;
    }

    h3, p {
        color: #f4f4f4;
    }

    h3 {
        border-bottom: 1px solid #fff;
        padding-bottom: $bottom_default * 0.5;
    }

    small, time {
        color: rgba(#fff, 0.5);
    }

    .excerpt p {
        margin: 0;
    }

    .mask {
        @extend %border-box;
        padding: 40px 20px;
    }
}

div.related-articles {
    @extend %clearfix;
    padding: 20px 0;

    @include breakpoint(smartphone) {
        padding: 0;
    }
}

article.related {
    float: left;
    width: 32%;

    @include breakpoint(smartphone) {
        float: none;
        margin-bottom: $bottom_default;
        width: 100%;
    }

    &:not(:last-of-type) {
        margin-right: 2%;

        @include breakpoint(smartphone) {
            margin-right: 0;
        }
    }

    .foobar {
        background-size: cover;
        margin-bottom: $bottom_default * 0.5;

        @include flex_size(100%, 1);

        @include breakpoint(smartphone) {
            @include flex_size(100%, 0.5);
        } 
    }

    .foobar a {
        @extend .foobar;
    }
}