/*
 * Global Text Defaults
 * --------------------
 */

address, cite, blockquote, dt, dd, input, label, li, option, p, q { 
    // font: $sans_stack;
    font: $serif_stack;
}

a, abbr, acronym, blockquote p, button, del, em, input, li li, li p, p abbr, 
p acronym, p label, pre span, q, span, strong, sub, sup, time {
    font-family: inherit;
    font-size: inherit;
}

address, blockquote, code, embed, iframe, input, label, ol, option, p, 
pre, select, table, ul {
    margin-bottom: $bottom_default;
}

address, blockquote, cite, code, input, label, li, option, p, pre, q, select { 
    line-height: $line_default;
}

address, blockquote, cite, code, h1, h2, h3, h4, h5, h6, input, label, li, option, p, q, select {
    color: $text_grey;
}

/*
 * Headline Items
 * --------------
 */

h1, h2, h3, h4, h5, h6 {
    color: $text_grey;
    font: $title_stack;
    margin-bottom: $bottom_default;

    a {
        color: inherit;

        &:hover {
            color: #000;
        }
    }
}

h4, h5, h6, {
    font: $serif_stack;
    font-weight: bold;
}

h2 { font-size: $header_text_size * 0.75; }
h3 { font-size: $header_text_size * 0.50; }
h4 { font-size: $header_text_size * 0.35; }
h5 { font-size: $header_text_size * 0.25; }
h6 { font-size: $header_text_size * 0.15; }

/*
 * Anchor Elements
 * ---------------
 */

a { 
    color: $hyperlink_blue;

    &:hover {
        text-decoration: underline;
    }
}

/*
 * Tables
 * ------
 */

table {
    // Override this width on a per-table basis if you need narrower.
    max-width: 100%;
}

td, th {
    color: $text_grey;
    padding: $bottom_default;
}

th {
    color: #fff;
    background: $pre_grey;

    a {
        color: inherit;
    }
}

tr:nth-child(even) { 
    background: $color_orange;
}

/*
 * Code Blocks
 * -----------
 */

code, input, kbd, pre, pre span, td, th, tt, var {
    -webkit-font-smoothing: antialiased;
    color: inherit;
    font: $fixed_stack;
    letter-spacing: 0;
}

pre {
    color: #fff;
    background-color: $pre_grey;
    overflow: auto;
    padding: $bottom_default;
    white-space: pre;
}

/*
 * Small, Sub, Sup
 * ---------------
 */

small, sub, sup, .wp-caption-text { 
    font-size: 70%; 

    @include breakpoint(max, 768) {
        font-size: 85%;
    }
}

sup { 
    vertical-align: super; 
}

sub { 
    vertical-align: sub; 
}

/*
 * Blockquote and Cite
 * -------------------
 */

blockquote { 
    @extend %border-box;
    border-left: 1px solid rgba(0,0,0,0.3); 
    margin: 0 auto;
    padding-left: 10px;
}

cite {
    display: block;
    font-weight: bold;
    margin-top: 5px;
}

q {
    font-style: italic;
    
    &:after {
        content: '" ';
    }

    &:before { 
        content: '"'; 
    }
}

/*
 * Separator
 * ---------
 */

hr {
    background: #f4f4f4;
    height: 1px;
    margin: $bottom_default * 2 0 $bottom_default * 2 0;
    width: 100%;
}

/*
 * Miscellaneous Element Styling
 * -----------------------------
 */

del, strike {
    color: $color_blood_red;
}

hr {
    border: 0;
    height: 1px;
}

li {
    ul, ol {
        margin-top: 3px;
    }
}

dt {
    font-weight: bold;
    margin-top: 3px;
}

dd {
    margin-left: 15px;
}

abbr, acronym { 
    text-decoration: underline; 
}

em { 
    font-style: italic; 
}

label { 
    display: block; width: 100%; 
}

strong { 
    font-weight: 800; 
}

del, strike { 
    text-decoration: line-through; 
}

ins { 
    font-size: 95%; 
    text-decoration: underline; 
}

form {
    @include placeholder_style($text_grey, $sans_stack);
}