// vim: set ft=javascript:
{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "globals": {
        "ActionCable": true,
        "App": true,
        "Clipboard": true,
        "Turbolinks": true,
        "FB" : true,
        "ga" : true,
        "_": true,
        "gc": true,
        "OneSignal": true
    },
    "extends": "eslint:recommended",
    "env": {
        "node": true,
        "jquery": true,
        "browser": true,
        "es6": true,
        "amd": true
    },
    "rules": {
        "no-tabs": "error",
        "indent": [
            "error", 4
        ],
        "no-multi-spaces": [
            "error", {
                "exceptions": {
                    "VariableDeclarator": true,
                    "Property": true
                }
            }
        ],
        "no-magic-numbers": [
            "error", {
                "ignoreArrayIndexes": true,
                "ignore": [-1, 0, 1]
            }
        ],
        "spaced-comment": [
            "error", "always", {
                "block": {
                    "markers": ["*"],
                    "exceptions": ["*"]
                }
            }
        ],
        "eqeqeq": [
            "error", "always"
        ],
        "linebreak-style": [
            "error", "unix"
        ],
        "quotes": [
            "error",
            "single",
            {
                "avoidEscape": true
            }
        ],
        "comma-dangle": [
            "error", "never"
        ],
        "no-trailing-spaces": [
            "error"
        ],
        "space-before-blocks": [
            "error", "always"
        ],
        "semi": [
            "error", "always"
        ],
        "id-length": [
            "error", {
                "min": 2,
                "max": 20,
                "exceptions": ["i", "j", "k", "_", "$"]
            }
        ],
        "brace-style": [
            "error",
            "1tbs",
            { "allowSingleLine": true }
        ],
        "keyword-spacing": [
            "error", {
                "before": true,
                "after": true
            }
        ],
        "space-infix-ops": [
            "error"
        ],
        "max-len": [
            "error",
            120,
            { "ignoreComments": true },
            { "ignoreUrls": true }
        ],
        "no-unused-vars": [
            "error", {
                "argsIgnorePattern": "^(event|error)$"
            }
        ],
        "space-in-parens": [
            "error", "never"
        ]
    }
}
