.pln {
  color: #fff;
  /*color: #3399cc;*/
}

@media screen {
  .str {
    /*color: #c9e724;*/
    color: #537178;
  }

  .kwd {
    color: #21bdbf;
  }

  .com {
    color: #999999;
  }

  .typ {
    color: #ff0055;
  }

  .lit {
    /*color: #c9e724;*/
    color: #59c0e3;
  }

  .pun {
    color: #fff;
    /*color: #bdd6db;*/
  }

  .opn {
    color: #fff;
  }

  .clo {
    color: #fff;
  }

  .tag {
    color: #21bdbf;
  }

  .atn {
    color: #c9e724;
  }

  .atv {
    color: #ec2525;
  }

  .dec {
    color: #fff;
  }

  .var {
    color: #fff;
  }

  .fun {
    color: #538192;
  }
}

@@media screen {
  .str {
    /*color: #c9e724;*/
    color: #537178;
  }

  .kwd {
    color: #21bdbf;
  }

  .com {
    color: #999999;
  }

  .typ {
    color: #ff0055;
  }

  .lit {
    /*color: #c9e724;*/
    color: #59c0e3;
  }

  .pun {
    color: #fff;
    /*color: #bdd6db;*/
  }

  .opn {
    color: #fff;
  }

  .clo {
    color: #fff;
  }

  .tag {
    color: #21bdbf;
  }

  .atn {
    color: #c9e724;
  }

  .atv {
    color: #ec2525;
  }

  .dec {
    color: #fff;
  }

  .var {
    color: #fff;
  }

  .fun {
    color: #538192;
  }
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}
