/*
 * Articles and Pages
 * ------------------
 * This theme has two main article templates:
 * 
 * 1. article-full
 * 2. article-excerpt
 * 
 * As the names hint, one is a full-sized article and the other is an excerpt. 
 * There is also a placeholder article for missing/404/403 errors that I will 
 * flesh out later.
 */

/*
 * Article Colours
 * ---------------
 */

$article-header-text: $colour-grey-light-text;
$article-image-border: rgba($colour-grey-pre, 0.5);

/*
 * Article Partials and Child Elements
 * -----------------------------------
 */

%article-child-block {
    // Margin for child items.
    box-sizing: border-box;
    padding-right: 0.5%;

    @include breakpoint(smartphone) {
        padding-right: 0;
    }
}

div.article-photobox {
    // Shrink images down to neatly fit on one row.
    @include prefix(align-items, flex-start);
    @include prefix_value(display, flex);
    @include prefix(flex-direction, row);
    @include prefix(flex-wrap, wrap);
    margin-bottom: $bottom-margin;

    a {
        @extend %article-child-block;
        @include prefix(flex, 1 1 33%);

        @include breakpoint(smartphone) {
            @include prefix(flex, 1);
        }
    }

    img {
        width: 100%;
    }
} 

/*
 * Round Avatar
 * ------------
 */

div.avatar-wrapper {
    margin-right: $bottom-margin;
    @include prefix(flex, 0 1 96px);

    @include breakpoint(smartphone) {
        @include prefix(flex, 0 1 65px);
    }

    img {
        @extend %border-light;
        border-radius: 50%;

        @include breakpoint(smartphone) {
            height: 65px;
            width: 65px;
        }
    }
}

/*
 * Base Article Rules
 * ------------------
 */

article { 
    overflow-x: hidden;

    header {
        margin-bottom: $bottom-margin-7;

        > * {
            margin-bottom: 0;
        }
    }

    header, footer {
        p, time, small {
            color: $article_header_text;
        }

        p {
            font: $font-opensans;
        }

        h4 {
            margin: 0;
        }
    }

    footer p {
        font-size: 90%;
    }

    h3.title a:hover {
        text-decoration: none;
    }

    div, img, iframe {
        box-sizing: border-box;
        max-width: 100%;
    }

    img {
        @extend %border-light;
    }

    input {
        // For password on password-protected posts.
        display: block;
    }

    blockquote, dl, ol, ul {
        padding: 0 0 0 15px;
    }

    blockquote {
        font-size: 90%;

        p, li {
            font-style: italic;
        }
    }

    ol, ul {
        box-sizing: border-box;
        margin-left: $bottom-margin;
    }
}

/*
 * Full Articles
 * -------------
 */

article.full {

    footer {
        @include prefix_value(display, flex);
        @include prefix_value(display, flex);
        @include prefix(flex-direction, row);

        h5, p {
            margin: 0;
        }
    }

    .author-info {
        @include prefix(flex, 1);
    }
}

/*
 * Excerpted Articles
 * ------------------
 */

article.excerpt {
    width: 100%;

    header {
        margin: 0;
    }

    .mask {
        box-sizing: border-box;
        padding: 40px 20px;
    }
}

/*
 * Related Articles
 * ----------------
 * Inserted below articles, these articles repreent three related articles
 * picked at random from the post archives.
 */

div.related-articles {
    @include prefix_value(display, flex);
    @include prefix(flex-direction, row);
    @include prefix(flex-wrap, nowrap);

    @include breakpoint(smartphone) {
        @include prefix(flex-direction, column);
    }
}

article.related {
    @extend %article-child-block;
    @include prefix(flex, 1);

    @include breakpoint(smartphone) {
        margin-bottom: $bottom-margin;
    }

    .related-thumbnail {
        @extend %border-light;
        background-size: cover;
        box-sizing: border-box;
        margin-bottom: $bottom-margin-7;

        @include flex_size(100%, 0.5);
    }

    .related-thumbnail a {
        @extend .related-thumbnail;
    }
}