/*
 * Comments
 * --------
 */

/*
 * Reader Comments
 * ---------------
 */

#comments {
    ul {
        margin: 0;
        padding: 0;
        position: relative;
    }

    h5.reply-title {
        margin-bottom: $bottom-margin;
    }
}

/*
 * Comment Layout
 * --------------
 * I hate WordPress comments. Grumble.
 */

.comment, .comment header {
    @include prefix_value(display, flex);
    @include prefix(flex-direction, row);
}

.comment {
    box-sizing: border-box;
    list-style-type: none;
    padding: $bottom-margin-21 0;

    &:not(:first-child) {
        @extend %border-light;
        border-width: 1px 0 0 0;
    }

    header p, .comment-interior {
        @include prefix(flex, 1);
    }

    header {
        @include breakpoint(portrait) {
            @include prefix(flex-direction, column);
            margin-bottom: $bottom-margin-7;
        }

        p {
            color: $colour-grey-light-text;
            font-size: 90%;

            @include breakpoint(portrait) {
                margin: 0;
            }
        }

        .date {
            text-align: right;

            @include breakpoint(portrait) {
                text-align: left;
            }
        }

    }

    footer p {
        margin: 0; 
    }

    div.comment-body {
        p {
            font-size: 85%;
        }
    }
}

.focused-comment {
    /* Focused comment expands to either side, but the content within remains
     * unchanges */
    @extend %box-shadow-heavy;
    border: 0;
    left: -$bottom-margin-21;
    padding-left: $bottom-margin-21;
    padding-right: $bottom-margin-21;
    // position: absolute;
    position: relative;
    width: calc(100% + #{$bottom-margin-21} * 2);
}

/*
 * Comment Input Form
 * ------------------
 */

#commentform {
    @extend %clearfix;
    width: 100%;

    input, textarea {
        &:not(textarea) {
            margin-bottom: $bottom-margin-7;
        }

        &:focus {
            @extend %border-heavy;
        }
    }

    .commentform-inputs {
        // Wrapper container for the inputs on the commentform.
        @include prefix_value(display, flex);
        @include prefix(flex-direction, row);

        @include breakpoint(smartphone) {
            @include prefix(flex-direction, column);
        }

        input {
            @include prefix(flex, 1);

            &:not(:last-of-type) {
                margin-right: $bottom-margin-7;

                @include breakpoint(smartphone) {
                    margin-right: 0;
                }
            }
        }
    }

    textarea {
        height: 100px;

        @include breakpoint(smartphone) {
            // width: 99%;
        }
    }

    p.form-submit {
        margin-bottom: 0;
    }

    input[type=submit] {
        height: $bottom-margin-35;
        max-width: 149px;
        padding: $bottom-margin-7;
    }
}
