#main { 
    @extend %clearfix;
    width: 100%;

    .interior {
        @extend %clearfix;
    }
}

#content {
    $content_top_padding: 35px;

    padding-top: $header-height;
    width: 100%;

    @include breakpoint(smartphone) {
        padding-top: $header-height-65;
    }

    .content {
        @extend %padded-content;
        background: #fff;
        box-sizing: border-box;
        margin: 0 auto;
        padding-top: $bottom-margin-28;
        padding-bottom: $bottom-margin-28;
        position: relative;
        width: 100%;
    }
}