#main { 
    @extend %clearfix;
    width: 100%;

    .interior {
        @extend %clearfix;
    }
}

#content {
    $content_top_padding: 35px;

    padding-top: $header_height;
    width: 100%;

    .content {
        @extend %padded-content;
        @extend %border-box;
        background: #fff;
        margin: 0 auto;
        padding-top: $content_top_padding;
        padding-bottom: $content_top_padding;
        position: relative;
        width: 100%;
    }
}

/*
 * Miscellaneous Containers
 * ------------------------
 */

.mask {
    @extend %rmwb-gradient;
    height: 100%;
}