#main { 
    @extend %clearfix;
    width: 100%;

    .interior {
        @extend %clearfix;
    }
}

#content {
    $content_top_padding: 35px;

    padding-top: $header_height;
    width: 100%;

    @include breakpoint(smartphone) {
        padding-top: $header_height_mobile;
    }

    .content {
        @extend %padded-content;
        background: #fff;
        box-sizing: border-box;
        margin: 0 auto;
        padding-top: $content_top_padding;
        padding-bottom: $content_top_padding;
        position: relative;
        width: 100%;
    }
}

/*
 * Miscellaneous Containers
 * ------------------------
 */

.mask {
    // Gradient via http://www.colorzilla.com/gradient-editor/
    background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.75)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.2) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.2) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#33000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 100%;
}