#header {
    @extend %padded-content;
    @extend %cover-picture;

    background-image: $header-background-image;
    height: $header-height;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

    @include prefix_value(display, flex);
    @include prefix(flex-direction, row);
    @include prefix(align-items, center);

    @include breakpoint(smartphone) {
        height: $header-height-65;
    }
}

#titles {
    margin: auto;
    @include prefix(flex, 1);

    h2, p {
        color: #fff;
        margin: 0;
        text-align: center;
    }

    h2 {
        @include breakpoint(smartphone) {
            font-size: 2em;
        }

        a {
            color: inherit; 

            &:hover {
                text-decoration: none;
            }
        }
    }

    p {
        color: $colour-grey-light-text;
    }
}