/*
 * Generic Rules, Button Rules and Other Useful Partials
 * -----------------------------------------------------
 * This file represents bits and pieces of code that I use across the site which
 * aren't attached to a given section of the site. 
*/

/*
 * Self-clearing Float
 * -------------------
 */

%clearfix {
    overflow: auto;

    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

/*
 * Cover Picture
 * -------------
 */

%cover-picture {
    background-position: center center;
    /* This seems like a weird combo with background-size, but I've had weird 
     * encounters with giant screen sizes and Safari */
    background-repeat: no-repeat;
    background-size: cover;
}

/*
 * Borders and Box Shadows
 * -----------------------
 */

%border-light {
    border: 1px solid $colour-grey-light-border;
}

%border-heavy {
    border: 1px solid $colour-grey-dark-border;
}

%box-shadow-heavy {
    box-shadow: 0 0 6px $colour-grey-pre;
}

/*
 * Content Padding
 * ---------------
 */

%padded-content {
    $padding: 30%;
    $padding-20: $padding * 0.667;
    $padding-15: $padding * 0.5;
    $padding-5: $padding * 0.1667;

    padding-left: $padding;
    padding-right: $padding;

    @include breakpoint(max, 1500) {
        padding-left: $padding-20;
        padding-right: $padding-20;
    }

    @include breakpoint(max, 1200) {
        padding-left: $padding-15;
        padding-right: $padding-15;
    }

    @include breakpoint(max, 900) {
        padding-left: $padding-5;
        padding-right: $padding-5;
    }

    @include breakpoint(smartphone) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*
 * Shadows and Gradients
 * ---------------------
 */

%noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

%no-box-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*
 * Text Element Columns
 * --------------------
 */

.text-two {
    @include columns(2, 20px);
}

.text-three {
    @include columns(3, 20px);
}

.text-four {
    @include columns(4, 20px);
}

.text-two, .text-three, .text-four {
    @include breakpoint(smartphone) {
        @include columns(1,0);
    }
}