/*
 * Generic Rules, Button Rules and Other Useful Partials
 * -----------------------------------------------------
 * This file represents bits and pieces of code that I use across the site which
 * aren't attached to a given section of the site. 
*/

$rmwb_button_color: map-get($colours, text_grey_light);
$rmwb_border_color_rest: map-get($colours, text_grey);
$rmwb_border_color_active: map-get($colours, light_grey);

/*
 * Borders and Box Shadows
 * -----------------------
 */

%border-light {
    border: 1px solid map-get($colours, border_grey_rest);
}

%border-heavy {
    border: 1px solid map-get($colours, pre_grey);
}

%box-shadow-heavy {
    @include prefix(box-shadow, 0 0 6px map-get($colours, pre_grey));
}

/*
 * Content Padding
 * ---------------
 */

%padded-content {
    padding-left: 30%;
    padding-right: 30%;

    @include breakpoint(max, 1500) {
        padding-left: 20%;
        padding-right: 20%;
    }

    @include breakpoint(max, 1200) {
        padding-left: 15%;
        padding-right: 15%;
    }

    @include breakpoint(max, 900) {
        padding-left: 5%;
        padding-right: 5%;
    }

    @include breakpoint(smartphone) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*
 * Shadows and Gradients
 * ---------------------
 */

%rmwb-gradient {
    // Gradient via http://www.colorzilla.com/gradient-editor/
    background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.75)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.2) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.2) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#33000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

%noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

%no-box-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*
 * Assorted Helper Classes
 * -----------------------
 */

%border-box {
    /* ALL GLORY TO THE BORDER BOX-this is used across the site in a great many
     * spots where I need to pad an element without increasing the size. */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

%clearfix {
    /* Bulletproof and Rock-Solid self-clearing float. You can tell it is both
    * Bulletproof and Rock-Solid since I capitalized the words. There are very
    * rare instances were I might need to use a clearing element (such as 
    * splitting floating elements vertically). */
    overflow: auto;

    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

%block {
    display: block;
    height: 100%;
    width: 100%;
}

%zero {
    // There are a few cases where I need to zero the margin and padding of the
    // the child of a parent with both.  
    margin: 0;
    padding: 0;
}

/*
 * Text Element Columns
 * --------------------
 */

.text-two {
    @include columns(2, 20px);
}

.text-three {
    @include columns(3, 20px);
}

.text-four {
    @include columns(4, 20px);
}

.text-two, .text-three, .text-four {
    @include breakpoint(smartphone) {
        @include columns(1,0);
    }
}

/*
 * Round Avatar
 * ------------
 */

div.avatar-wrapper {
    margin-right: $bottom_default;
    @include prefix(flex, 0 1 96px);

    @include breakpoint(smartphone) {
        @include prefix(flex, 0 1 65px);
    }

    img {
        @extend %border-light;
        border-radius: 50%;

        @include breakpoint(smartphone) {
            height: 65px;
            width: 65px;
        }
    }
}