/*
 * Generic Rules, Button Rules and Other Useful Partials
 * -----------------------------------------------------
 * This file represents bits and pieces of code that I use across the site which
 * aren't attached to a given section of the site. 
*/

$rmwb_button_color: map-get($colours, text_grey_light);
$rmwb_border_color_rest: map-get($colours, text_grey);
$rmwb_border_color_active: map-get($colours, light_grey);

/*
 * Self-clearing Float
 * -------------------
 */

%clearfix {
    overflow: auto;

    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

/*
 * Borders and Box Shadows
 * -----------------------
 */

%border-light {
    border: 1px solid map-get($colours, border_grey_rest);
}

%border-heavy {
    border: 1px solid map-get($colours, pre_grey);
}

%box-shadow-heavy {
    @include prefix(box-shadow, 0 0 6px map-get($colours, pre_grey));
}

/*
 * Content Padding
 * ---------------
 */

%padded-content {
    padding-left: 30%;
    padding-right: 30%;

    @include breakpoint(max, 1500) {
        padding-left: 20%;
        padding-right: 20%;
    }

    @include breakpoint(max, 1200) {
        padding-left: 15%;
        padding-right: 15%;
    }

    @include breakpoint(max, 900) {
        padding-left: 5%;
        padding-right: 5%;
    }

    @include breakpoint(smartphone) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*
 * Shadows and Gradients
 * ---------------------
 */

%noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

%no-box-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*
 * Text Element Columns
 * --------------------
 */

.text-two {
    @include columns(2, 20px);
}

.text-three {
    @include columns(3, 20px);
}

.text-four {
    @include columns(4, 20px);
}

.text-two, .text-three, .text-four {
    @include breakpoint(smartphone) {
        @include columns(1,0);
    }
}

/*
 * Round Avatar
 * ------------
 */

div.avatar-wrapper {
    margin-right: $bottom_default;
    @include prefix(flex, 0 1 96px);

    @include breakpoint(smartphone) {
        @include prefix(flex, 0 1 65px);
    }

    img {
        @extend %border-light;
        border-radius: 50%;

        @include breakpoint(smartphone) {
            height: 65px;
            width: 65px;
        }
    }
}