html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, images, 
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, 
dl, dt, dd, ol, ul, li, fieldset, form, label,legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, 
figcaption, footer, header, hgroup menu, nav, output, ruby, section, summary, 
time, mark, audio, video {
    border: 0; 
    color: inherit;
    font-size: 100%;
    font: inherit;
    font-family: Lucida Grande, Verdana, Lucida Sans Regular, Lucida Sans Unicode, Arial;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    vertical-align: baseline;
}

/*
 * Section Colours
 * ---------------
 */

$form_border: map-get($colours, text_grey);
$form_input_focus: map-get($colours, hyperlink_blue);
$nav_hyperlink_rest: map-get($colours, text_grey_light);
$table_tr: map-get($colours, text_grey_dark);
$table_th: map-get($colours, code_block_grey);
$table_tr_alt: map-get($colours, table_cell_alt_orange);

form {
    button, input, textarea {
        // Reset appearance across all browsers.
        @extend %border-box;
        @extend %zero;
        -webkit-appearance: none;
        -webkit-border-radius: 0;
        border-radius: 0;
        border: 0;
        outline: 0;

        &:focus {
            outline: 0;
        }
    }

    textarea {
        width: 100%;
    }
}

/*
 * Tables
 * ------
 */

table {
    // Override this width on a per-table basis if you need narrower.
    max-width: 100%;
}

td, th {
    color: $table_tr;
    padding: $bottom_default;
}

th {
    color: #fff;
    background: $table_th;

    a {
        color: inherit;
    }
}

tr:nth-child(even) { 
    background: $table_tr_alt;
}