/*
 * Global Text Defaults
 * --------------------
 */

// Colours
$text_default_grey: map-get($colours, text_grey_dark);
$anchor_default_rest: map-get($colours, hyperlink_rest);
$code_block_background: map-get($colours, code_block_grey);
$border_rest: map-get($colours, border_grey_rest);
$strike: map-get($colours, strikeout_red);

address, cite, blockquote, dt, dd, input, label, li, option, p, q { 
    font: $font_open_sans;
}

a, abbr, acronym, blockquote p, button, del, em, input, li li, li p, p abbr, 
p acronym, p label, pre span, q, span, strong, sub, sup, time {
    font-family: inherit;
    font-size: inherit;
}

address, blockquote, code, embed, iframe, input, label, ol, option, p, 
pre, select, table, ul {
    margin-bottom: $bottom_default;
}

address, blockquote, cite, code, input, label, li, option, p, pre, q, select { 
    line-height: $line_height_default;
}

address, blockquote, cite, code, h1, h2, h3, h4, h5, h6, input, label, li, option, p, q, select {
    color: $text_default_grey;
}

/*
 * Headline Items
 * --------------
 */

h1, h2, h3, h4, h5, h6 {
    color: $text_default_grey;
    font: $font_open_sans_title;
    margin-bottom: $bottom_default;

    a {
        color: inherit;

        &:hover {
            color: #000;
        }
    }
}

h4, h5, h6, {
    font: $font_open_sans;
    font-weight: 100;
}

h2 { font-size: $header_text_size * 0.65; }
h3 { font-size: $header_text_size * 0.45; }
h4 { font-size: $header_text_size * 0.35; }
h5 { font-size: $header_text_size * 0.25; }
h6 { font-size: $header_text_size * 0.15; }

/*
 * Anchor Elements
 * ---------------
 */

a { 
    color: $anchor_default_rest;

    &:hover {
        text-decoration: underline;
    }
}

/*
 * Code Blocks
 * -----------
 */

code, input, kbd, pre, pre span, td, th, tt, var {
    -webkit-font-smoothing: antialiased;
    color: inherit;
    font: $font_source_code_pro;
    letter-spacing: 0;
}

pre {
    color: #fff;
    background-color: $code_block_background;
    overflow: auto;
    padding: $bottom_default;
    white-space: pre;
}

/*
 * Small, Sub, Sup
 * ---------------
 */

small, sub, sup, .wp-caption-text { 
    font-size: 70%; 
    line-height: initial;
}

sup { 
    vertical-align: super; 
}

sub { 
    vertical-align: sub; 
}

/*
 * Blockquote and Cite
 * -------------------
 */

blockquote { 
    @extend %border-box;
    border-left: 1px solid rgba($code_block_background, 0.3); 
    margin: 0 auto;
    padding-left: 10px;
}

cite {
    display: block;
    font-weight: bold;
    margin-top: 5px;
}

q {
    font-style: italic;
    
    &:after {
        content: '" ';
    }

    &:before { 
        content: '"'; 
    }
}

/*
 * Separator
 * ---------
 */

hr {
    background: $border_rest;
    height: 1px;
    margin: $bottom_default 0;
    width: 100%;
}

/*
 * Miscellaneous Element Styling
 * -----------------------------
 */

del, strike {
    color: $strike;
}

hr {
    border: 0;
    height: 1px;
}

li {
    ul, ol {
        margin-top: 3px;
    }
}

dt {
    font-weight: bold;
    margin-top: 3px;
}

dd {
    margin-left: 15px;
}

abbr, acronym { 
    text-decoration: underline; 
}

em { 
    font-style: italic; 
}

label { 
    display: block; width: 100%; 
}

strong { 
    font-weight: 800; 
}

del, strike { 
    text-decoration: line-through; 
}

ins { 
    font-size: 95%; 
    text-decoration: underline; 
}

form {
    @include placeholder_style() {
        color: $text_default_grey;
        font: $font_open_sans;
    }
}