/*
 * Global Text Defaults
 * --------------------
 */

address, cite, blockquote, dt, dd, input, label, li, option, p, q { 
    font: $font-opensans;
}

a, abbr, acronym, blockquote p, button, del, em, input, li li, li p, p abbr, 
p acronym, p label, pre span, q, span, strong, sub, sup, time {
    font-family: inherit;
    font-size: inherit;
}

address, blockquote, code, embed, iframe, input, label, ol, option, p, 
pre, select, table, ul {
    margin-bottom: $bottom-margin;
}

address, blockquote, cite, code, input, label, li, option, p, pre, q, select { 
    line-height: $line-height-140;
}

address, blockquote, cite, code, h1, h2, h3, h4, h5, h6, input, label, li, option, p, q, select {
    color: $colour-grey-dark-text;
}

/*
 * Headline Items
 * --------------
 */

h1, h2, h3, h4, h5, h6 {
    color: $colour-grey-dark-text;
    font: $font-opensans-title;
    margin-bottom: $bottom-margin;

    a {
        color: inherit;

        &:hover {
            color: #000;
        }
    }
}

h4, h5, h6, {
    font: $font-opensans;
    font-weight: 100;
}

h1, %h1 {}
h2, %h2 { font-size: $font-size-headline * 0.65; }
h3, %h3 { font-size: $font-size-headline * 0.45; }
h4, %h4 { font-size: $font-size-headline * 0.35; }
h5, %h5 { font-size: $font-size-headline * 0.25; }
h6, %h6 { font-size: $font-size-headline * 0.15; }

/*
 * Anchor Elements
 * ---------------
 */

a { 
    color: $colour-blue-hyperlink;

    &:hover {
        text-decoration: underline;
    }
}

/*
 * Code Blocks
 * -----------
 */

code, input, kbd, pre, pre span, td, th, tt, var {
    -webkit-font-smoothing: antialiased;
    color: inherit;
    font: $font-sourcecodepro;
    letter-spacing: 0;
}

pre {
    color: #fff;
    background-color: $colour-grey-pre;
    overflow: auto;
    padding: $bottom-margin;
    white-space: pre;
}

/*
 * Small, Sub, Sup
 * ---------------
 */

small, sub, sup, .wp-caption-text { 
    font-size: 70%; 
    line-height: initial;
}

sup { 
    vertical-align: super; 
}

sub { 
    vertical-align: sub; 
}

/*
 * Blockquote and Cite
 * -------------------
 */

blockquote { 
    border-left: 1px solid rgba($colour-grey-pre, 0.3); 
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 10px;
}

cite {
    display: block;
    font-weight: bold;
    margin-top: 5px;
}

q {
    font-style: italic;
    
    &:after {
        content: '" ';
    }

    &:before { 
        content: '"'; 
    }
}

/*
 * Separator
 * ---------
 */

hr {
    background: $colour-grey-dark-border;
    height: 1px;
    margin: $bottom-margin 0;
    width: 100%;
}

hr.double-margin {
    margin: $bottom-margin-28 0;
}

/*
 * Miscellaneous Element Styling
 * -----------------------------
 */

del, strike {
    color: $colour-red-delete;
}

hr {
    border: 0;
    height: 1px;
}

li {
    ul, ol {
        margin-top: 3px;
    }
}

dt {
    font-weight: bold;
    margin-top: 3px;
}

dd {
    margin-left: 15px;
}

abbr, acronym { 
    text-decoration: underline; 
}

em { 
    font-style: italic; 
}

label { 
    display: block; width: 100%; 
}

strong { 
    font-weight: 800; 
}

del, strike { 
    text-decoration: line-through; 
}

ins { 
    font-size: 95%; 
    text-decoration: underline; 
}

form {
    @include placeholder_style() {
        color: $colour-grey-pre;
        font: $font-opensans;
    }
}