/*
 * Colours
 * -------
 */

$colours: (
    table_cell_alt_orange: #f4b44f,
    strikeout_red: #ba3434,
    code_block_grey: #333333,
    border_grey_rest: #f4f4f4,
    border_grey_active: #ddd,
    hyperlink_rest: #3399cc,
    text_grey_dark: rgba(0,0,0,0.8),
    text_grey_light: #9eabb3
);

/*
 * Typeface Declarations
 * ---------------------
 */

$header_text_size: 3.5em;
$regular_text_size: 0.95em;
$fixed_text_size: 0.8em;

$font_open_sans: $regular_text_size 'Open Sans', Verdana, Geneva, sans-serif, sans-serif;
$font_merriweather: $regular_text_size 'Merriweather', Georgia, Times, 'Times New Roman', serif;
$font_source_code_pro: $fixed_text_size 'Source Code Pro', 'Courier New', Courier, monospace;
$font_open_sans_title: bold $header_text_size 'Open Sans', Verdana, Geneva, sans-serif, sans-serif;
$font_bitter_title: bold $header_text_size 'Bitter', Georgia, Times, 'Times New Roman', serif;

/*
 * Margins and Padding
 * -------------------
 */

// Default bottom margin of all elements.
$bottom_default: 14px;
// Default line height.
$line_height_default: 140%;
$header_height: 50vh;

/*
 * Mixins and Partials
 * -------------------
 */

@import 'mixins';
@import 'partials';

/*
 * Imports
 * -------
 */

@import 'reset';
@import 'typography';
@import 'header';
@import 'nav';
@import 'content';
@import 'single';
@import 'comments';
@import 'search';
@import 'share';