/*
 * Colours
 * -------
 */

$colour-orange-table: #f4b44f;
$colour-grey-pre: #333;
$colour-grey-light-border: #f4f4f4;
$colour-grey-dark-border: #ddd;
$colour-grey-dark-text: rgba(0,0,0,0.8);
$colour-grey-light-text: #9eabb3;
$colour-blue-hyperlink: #3399cc;
$colour-red-delete: #ba3434;

/*
 * Typeface Declarations
 * ---------------------
 */

$font-size-fixed: 0.9em;
$font-size-regular: 0.95em;
$font-size-headline: 3.5em;

$font-opensans: $font-size-regular 'Open Sans', Verdana, Geneva, sans-serif, sans-serif;
$font-merriweather: $font-size-regular 'Merriweather', Georgia, Times, 'Times New Roman', serif;
$font-sourcecodepro: $font-size-fixed 'Source Code Pro', 'Courier New', Courier, monospace;
$font-opensans-title: bold $font-size-headline 'Open Sans', Verdana, Geneva, sans-serif, sans-serif;
$font-bitter-title: bold $font-size-headline 'Bitter', Georgia, Times, 'Times New Roman', serif;

/*
 * Margins and Padding
 * -------------------
 */

$bottom-margin: 14px;
$bottom-margin-7: $bottom-margin * 0.5;
$bottom-margin-21: $bottom-margin * 1.5;
$bottom-margin-28: $bottom-margin * 2;
$bottom-margin-35: $bottom-margin * 2.5;

$line-height-140: 140%;
$header-height: 50vh;
$header-height-65: $header-height + 15vh;

$header-background-image: url('../images/lightning.jpg');

/*
 * Mixins and Partials
 * -------------------
 */

@import 'mixins';
@import 'partials';

/*
 * Imports
 * -------
 */

@import 'reset';
@import 'typography';
@import 'header';
@import 'nav';
@import 'content';
@import 'articles';
@import 'comments';
@import 'search';
@import 'share';