
/* 
    HEADER 
*/

header {
    margin: 0 auto;
    /*margin-bottom: 10px;*/
}

header a { 
    color: #fff;
}

header a:hover { 
    color: #9fa5b1; 
}

header ul {
    display: inline-block;
    list-style-type: none;
    padding-left: 0;
}

header li {
    color: #fff;
    font-size: 4.5em;
    font-family: 'DIN 1451', 'Bebas Neue', impact;
    line-height: 1.27em;
    margin: -30px 0 -30px 0;
    text-align: left;
    text-transform: uppercase;
}

header li a:hover {
    border: none;
    text-decoration: none;
}

.header-title-inset {
    margin-left: 15%;
}

@media screen and (max-width: 1000px) {
    header li {
        font-size: 3.5em;
    }
}