
/*
    FOOTER
*/

.post-meta {
    font-size: 0.7em;
    margin-bottom: 20px;
}

.post-title a:hover {

}

footer {
    width: 100%;
}

footer p {
    color: #fff;
    font-size: 0.7em;
    text-align: center;
}

/*
    ARTICLE STYLING
*/

article { 
    margin-bottom: 30px;
}

article li {
    margin-bottom: 0;
}

article iframe {
    margin-bottom: 10px;
}

article iframe, 
article img { 
    /* IE fallback. */
    border: 1px solid #000;
    border: 1px solid rgba(0,0,0,0.3); 
    border-radius: 5px; 
    height: auto;
    max-width: 100%;
}

article blockquote a:hover,
article li a:hover,
article p a:hover {
    border-bottom: 1px dotted #000;
}

/*
    LEFT SIDE CONTENT
*/

.content-right form {
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: auto;
    width: 100%;
}

/*
    POST META
*/
