/*
    WEB FONTS
*/

@font-face {
    /* 
        Name: DIN 1451 EngSchrift
        Creator: Linotype Design Studio
        URL: http://www.linotype.com/en/44734/DIN1451EngSchrift-product.html 
        License: Proprietary / All Rights Reserved / Not for Redistribution 
    */
    font-family: 'DIN 1451';
    src: 
        url('fonts/din/din1451.eot?') format('embedded-opentype'), 
        url('fonts/din/din1451.woff') format('woff'),
        url('fonts/din/din1451.ttf') format('truetype'),
        url('fonts/din/din1451.svg') format('svg');
}

@font-face {
    /*
        Name: Bebas Neue
        Creator: Dharma Type
        URL: http://dharmatype.com/dharma-type/bebas-neue.html 
        License: SIL Open Font License 1.1
    */ 
    font-family: 'Bebas Neue';
    src: 
        url('fonts/bebas/bebas.eot?') format('embedded-opentype'),
        url('fonts/bebas/bebas.woff') format('woff'),
        url('fonts/bebas/bebas.ttf') format('truetype'),
        url('fonts/bebas/bebas.svg') format('svg');
}

@font-face {
    /* 
        Name: Source Code Pro Regular
        Creator: Adobe Systems
        URL: http://sourceforge.net/projects/sourcecodepro.adobe/
        License: SIL Open Font License 1.1
    */
    font-family: 'Source Code Pro Regular';
    src: 
        url('fonts/din/scp-r.eot?') format('embedded-opentype'),
        url('fonts/din/scp-r.woff') format('woff'),
        url('fonts/din/scp-r.otf') format('opentype'),
        url('fonts/din/scp-r.ttf') format('truetype'),
        url('fonts/din/scp-r.svg') format('svg');
}

@font-face {
    /* 
        Name: Source Sans Pro Regular
        Creator: Adobe Systems
        URL: http://sourceforge.net/projects/sourcesans.adobe/
        License: SIL Open Font License 1.1
    */
    font-family: 'Source Sans Pro Regular';
    src: 
        url('fonts/ssp/scp-r.eot?') format('embedded-opentype'),
        url('fonts/ssp/clacon.woff') format('woff'),
        url('fonts/ssp/clacon.otf') format('opentype'),
        url('fonts/ssp/clacon.ttf') format('truetype'),
        url('fonts/ssp/clacon.svg') format('svg');
}